<launch>
  <!-- send robot urdf to param server -->
  <param name="robot_description" command="cat robot.urdf"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

  <!-- send controllers to param server -->
  <rosparam command="load" file="controllers.yaml"/>

  <!-- start controller_manager and spawn controllers -->
  <node name="controller_manager" pkg="controller_manager" type="spawner" args="joint_controller"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/joint_controller/cmd_vel"/>
  </node>
</launch>
